.projects-section {
    padding: 60px 20px;
    margin-top: 100px;
}

.projects-title {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

/* CSS Grid layout for 3 cards per row */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equal-width columns */
    gap: 20px;
    /* Adjust the space between cards */
}


/* Ensure the layout adjusts for smaller screens */
@media (max-width: 600px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 equal columns on medium screens */
    }
}

@media (max-width: 700px ) {
    .portfolio-grid {
        grid-template-columns: 1fr;
        /* 1 card per row on small screens */
    }
}