/* Experience Section */
.experience-section {
    padding: 50px 20px;
    color: var(--text-color);
    margin-top: 50px;
  }

.experience-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: var(--text-color);
}

/* Experience Category */
.experience-category {
    margin-bottom: 40px;
    color: var(--text-color);
}

.category-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-align: center;
}

/* Experience Items Container */
.experience-items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    padding-left: 20px;
}

/* Each Experience Item */
.experience-item {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    margin-left: 20px;
}

.experience-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Darker background on hover */
    border-color: var(--light-green);
    /* Light green border on hover */
}

/* Experience Header */
.experience-header {
    margin-bottom: 5px;
}

.experience-company {
    font-size: 17px;
    color: var(--primary-color);
    font-weight: medium;
}

.experience-role {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--text-color);
    font-style: italic;
    margin-top: 1px;
}

.experience-link {
    font-size: 0.75rem;
    color: var(--LightGray);
    opacity: 0.5;
    font-style: italic;
    text-decoration: none;
    margin-top: 5px;
    display: block;
}

.experience-link:hover {
    text-decoration: underline;
}

/* Experience Details (Bulleted List) */
.experience-details {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
    font-size: 1rem;
    color: var(--LightGray);
}

.experience-details li {
    margin-bottom: 10px;
}

/* Experience Footer */
.experience-footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--DeepNightBlack);
    color: var(--LightGray);
    width: 100%;
    height: auto;
    font-size: 0.75rem;
    border-radius: 9999px;
    padding: 10px 20px;
    margin-top: 10px;
    opacity: 0.5;
}

/* Responsiveness */
@media (max-width: 768px) {
    .experience-item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .category-title {
        font-size: 1.5rem;
    }
}

/* Add a subtle animation to the experience items */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}