:root {
  --background-light: #ffffff;
  --background-dark: #1a1a1a;
  --background-dark-hover: #141414;
  --text-light: #000000;
  /* Black color for text */
  --text-dark: #ffffff;
  /* White color for text */
  --primary-color: #a3d5ff;
  /* Light blue color */
  --Snow: #FFFAFA;
  --LightGray: #D3D3D3;
  --DeepNightBlack: #2C2C2C;
  --light-green: #90ee90;
  /* Light green color */
  --background-color: var(--background-light);
  /* Default background color */
  --primary-background-light: #e0f7ff;
  /* Very light blue color for light mode */
  --primary-background-dark: #1a1a1a;
  /* Dark background color for dark mode */
}

body.light-mode {
  --background-color: var(--primary-background-light);
  --text-color: var(--text-light);
  /* Use text-light for light mode */
}

body.dark-mode {
  --background-color: var(--primary-background-dark);
  --text-color: var(--text-dark);
  /* Use text-dark for dark mode */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  padding: 0;
}